.gd_chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.gd_chart_content{
    margin: 50px;
}
/*.flex_container {
    display:flex; 수평속성
    flex-direction: column;
    border:1px solid black;
    margin: 10px;
}

 .flex_item {
    margin:20px;
    width:100px;
    height:100px;
    background-color:#f2c9dc;
}

.before {
    margin: 10px;
}

.list {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
} */