@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


.header {
    background-color: beige;
    /* position: static; */
    /* top: 0; */
    height: 100px;
    width: 100%;
    /* padding : 5px; */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 120px;
}

.nav_menu {
    display: flex;
    flex-direction: row;
}

.menu_content {
    display: flex;
    padding: 30px;
    color: black;
}

.login_bt {
    display: flex;
    color: white;
    background-color: #FF7A00;
    border: none;
    padding: 8px 50px;
    border-radius: 30px;
}