.mypage {
    /* position:relative; */
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
}

.my_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* background-color: aqua; */
}

.my_contents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    /* background-color: aquamarine; */
}

.my_side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    padding-bottom: 10px;
    padding: 80px;
    margin: 20px;
    height: 100%;
}

.profile_img {
    border-radius: 50%;
    background-color: black;
    padding : 15px;
    color:white;
    margin: 10px;
}

.side_profile {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    
}

.prof_contain {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 3px;
}

.prof_content {
    margin: 3px;
}

.side_menu {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 3px;
}

.my_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    padding: 50px;
    margin: 50px;
    width: 600px;
    height: 300px;
    /* background-color: antiquewhite; */
}

.side_menu_bt {
    border: solid 1px #D9D9D9;
    border-radius: 10px;
    width: 300px;
    padding: 13px;
    background-color: white;
}

.my_edit {
    margin: 3px;
}

.my_grade {
    margin: 3px;
}

.my_wrong {
    margin: 3px;
}