/* .study{
    display:flex;
} */

/* Study_sidebar */
.sidebar{
    padding: 20px;
    background-color: ivory;
    text-align: left;

    /* top:100px;
    left:0;
    position: absolute; */
    
    width:225px;
    min-height:100%;
    /* overflow: auto; */

}

.sidebar li{
    list-style: none;
}


/* Study_study */
.study_study{
    background-color: aliceblue;
    /* top:100px;
    left: 225px;
    position:absolute; */

    width:100%;
    height: 100%;
    /* overflow: auto; */
}

.level{
    text-align: left;
    /* background-color: azure; */
    
}

.level h3{
    padding-left:20px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.flex_container{
    display:flex;
}

.level_component{
    margin:0 20px;
    background-color: lightgrey;

    height:240px;
    width:360px;

    text-align:center;
    line-height: 240px;
}

/* study_play.js */

.study_play{
    background-color: antiquewhite;
}
.play_button_display{
    background-color: aquamarine;
    /* flex-direction: column; */
}

/* ---------------------------디자인 이후---------------------------------------- */
.study_pic{
    width: 448px;
    height: 472px;
    border-radius: 35px;
    /* background-color: aliceblue; */
    background-color: #D9D9D9;
    left: 260px;
    top: 200px;
    position: absolute;

}

.study_text{
    position: absolute;
    left: 758px;
    top: 200px;
}
.next_btn{
    position: absolute;
    border-radius:70%;
    width: 78px;
    height: 78px;
    background-color: #D9D9D9;
    left: 1219px;
    top: 508px;
}    

.circles{
    position: absolute;
    left: 664px;
    top: 841px;
    background-color: azure;
    display:flex;
    margin-bottom: 200px;
}
.circle{
    list-style: none;
    border-radius:70%;
    background-color: #D9D9D9;
    width: 16px;
    height: 16px;
}
.circle_{
    list-style: none;
    border-radius:70%;
    background-color: #585858;
    width: 16px;
    height: 16px;

}

/* button {
    background-color: #FF7A00;
    border: none;
    color: white;
    padding: 8px 50px;
    border-radius: 30px;
} */