.study{
    display:flex;
}

/* Study_sidebar */
.sidebar{
    padding: 20px;
    background-color: ivory;
    text-align: left;

    /* top:100px;
    left:0;
    position: absolute; */
    
    width:225px;
    min-height:100%;
    /* overflow: auto; */

}

.sidebar li{
    list-style: none;
}


/* Study_study */
.study_study{
    background-color: aliceblue;
    /* top:100px;
    left: 225px;
    position:absolute; */

    width:100%;
    height: 100%;
    /* overflow: auto; */
}

.level{
    text-align: left;
    /* background-color: azure; */
    
}

.level h3{
    padding-left:20px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.flex_container{
    display:flex;
}

.level_component{
    margin:0 20px;
    background-color: lightgrey;

    height:240px;
    width:360px;

    text-align:center;
    line-height: 240px;
}

/* study_play.js */

.study_play{
    background-color: antiquewhite;
}
.play_button_display{
    background-color: aquamarine;
    /* flex-direction: column; */
}