.Test{
    /* display:flex; */
    margin-top: 20px;
}

/* Testsidebar */
.Testsidebar{
    /* background:#fef; */
    /* width:15%; */
    /* float:right; */

}

/* Testdetail */
.Testdetail{
    /* background:#eee; */
    /* width:85%; */
    /* float:left; */
}

.problem{
    background-color: white;
    /* border-bottom : lightgrey solid 1px; */
    border : 0;
    padding : 10px;
}

.curproblem{
    background-color: rgb(151, 151, 151);
    /* border-bottom : rgb(151, 151, 151) solid 1px; */
    border : 0;
    padding : 10px;
}

.title_{
    background-color: #FF7A00;;
    border-bottom : rgb(239, 239, 239) solid 1px;
    padding : 20px;
    color: black;
}

.start {
    color: white;
    background-color: #FF7A00;
    border: none;
    padding: 8px 50px;
    border-radius: 30px;
}

.back {
    color: white;
    background-color: #575757;
    border: none;
    padding: 8px 20px;
    border-radius: 30px;
}

.webcam {
    color: white;
    background-color: #FF7A00;
    border: none;
    padding: 8px 20px;
    border-radius: 30px;
}