.TestPopup{
    display:flex;
}

/* Testsidebar */
.Testsidebar{
    /* background:#fef; */
    width:15%;
    float:right;

}

/* Testdetail */
.Testdetail{
    background:#eee;
    width:85%;
    float:left;
}

.question_{
    background-color: white;
    border-bottom : lightgrey solid 1px;
    padding : 10px;
}

.question{
    background-color: #D9D9D9;
    border-bottom : rgb(151, 151, 151) solid 1px;
    padding : 10px;
}

.title_{
    background-color: #FF7A00;;
    border-bottom : rgb(239, 239, 239) solid 1px;
    padding : 20px;
    color: black;
}