.TestPopup{
    display:flex;
}

/* Testsidebar */
.Testsidebar{
    padding: 20px;
    background-color: ivory;
    text-align: right;

    /* top:100px;
    left:0;
    position: absolute; */
    
    width:225px;
    min-height:100%;
    /* overflow: auto; */

}

.Testdetail li{
    list-style: none;
}


/* Testdetail */
.Testdetail{
    background-color: aliceblue;
    /* top:100px;
    left: 225px;
    position:absolute; */

    width:100%;
    height: 100%;
    /* overflow: auto; */
}
