.wrong {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wr_lv1 {
    /* margin: 0 auto; */
    width: 60px;
    height: 60px;
    border: 5px solid rgb(163, 151, 198);
    border-radius: 50%;
}
.wr_wrapper {
    /* margin: 0 auto; */
    padding: 30px;
    flex-direction: row;
    /* max-width: 1170px; */
}
.wr_contain {
    flex-direction: row;
    align-items: center;
}