@charset "utf-8";

.header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: white;
    /* background-color: rgba(211,211,211,0.2); */
    padding : 10px;
}

ul {
    list-style-type : none;
}

li{
    float: left; /* 왼쪽부터 가로정렬 */
    width: 15%; /* 메뉴가 5개 이므로 5등분 사이즈 정의 */
    height: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif, bold;
    color: black;
    /* background: #98E0AD; */
}

.login_bt {
    background-color: #FF7A00;
    border: none;
    color: white;
    padding: 8px 50px;
    border-radius: 30px;
    /* border-radius: 20%; */
}