/* .login {
    position: absolute;
    top: 80px;
    height: 10px;
    margin-top: auto;
    background-color: white;
} */

.google {
    width: 600px;
    height: 300px;
}

.kakao {
    width: 300px;
    height: 150px;
    /* object-fit: cover; */
  }