/* .mypage {
    position: absolute;
    top: 80px;
    height: 10px;
    margin-top: auto;
    background-color: white;
} */

.side_menu {
    width: 30%;
    /* display:table; */
    display: flex;
    table-layout:fixed;
    /* height:200px; */
    background:#ddd;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;

}

/* button {
    display:table-cell;
    vertical-align:middle;
} */

.chart {
    width: 70%;
}

